
body {
    text-align: center;
    background-color: #d5f5ff;
}
img {
    border-radius: 50%;
}
.mangoimg {
    height: 400px;
    width: auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    list-style-position: inside;
}
ol {
    list-style-position: inside;
}
h3,
h1{
    text-decoration: underline;
    font-family: "Snell Roundhand";
}
h3 {
    font-size: 28px;
}
p {
   
}